body{
    padding-top: 0px;
    font-family: "Montserrat";
    font-weight: 300;
}
#Experience {
/*    background-color: #1c1c1c;*/
/*    background-image: linear-gradient(#191446, #1c1c1c);*/
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(/img/timelineBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px;
/*
    padding-left: 15%;
    padding-right: 15%;
*/
}

#experienceTitle {
    text-align: center;
    color: white;
    padding-bottom: 0.5em;
}

.aboutMeItem {
    padding-top: 30px;
    position: relative;
    height: 350px;
}

.circular-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
}

.custom-image {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
    width: 50%;
    height: 50%;
    background-size: cover;
}

.aboutMeTitleText {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.aboutMePargraphText {
    color: #DDDDDD;
    font-size: 1.1em;
/*
    padding-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
*/
}

.col-container {
    display: table;
    width: 100%;
}

.col{
    display: table-cell;
}

#uiucLogo {
    background-size: cover;
    background: url(/img/uiuc.png) center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 35%;
}

#imsaLogo {
    background-size: cover;
    background: url(/img/imsa.png) center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 55%;
}

#loyolaLogo {
    background-size: cover;
    background: url(/img/loyola.png) center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 45%;
}

#roboticsLogo {
    background-size: cover;
    background: url(/img/robotics.png) center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 65%;
}



.jumbotron-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-left: 50px;    
    padding-right: 50px;
}

#Projects {
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #222;
}

.technologies {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.thumbnail_picture {
    max-height: 200px;
    width: auto;
    padding-top: 15px;
}

#projectsTitle {
    padding-bottom: 30px;
    padding-top: 10px;
    color: white;
}

#Resume {
    padding: 30px;
    background-color: #337ab7;
}
#Resume:hover{
    background-color: #286091;
}

#resumeText {
    color: white;
    padding-bottom: 10px;
}

#Contact {
    padding: 30px;
}

.contactIcons {
    font-size: 24px;
}

#contactTitle {
    padding-bottom: 30px;
}



.bottomButton {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
}

#mainTitle {
    font-size: 5em;
    font-family: 'Montserrat';
    font-weight: 700;
}

.textBackground {
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
    padding-top: 5px;
    margin-bottom: 30px;
}

#timeline {
    list-style: none;
    position: relative;
    padding-top: 0.5em;
}

#timeline::before{
    content:'';
    position: absolute;
    top: 0;
    width: 4px;
    background: #4d7392;
    height: 100%;
    left: 50%;
    margin: -2px;
}

.timelineBoxOdd {
    position: relative;
    width: 35%;
    height: auto;
    background: rgba(40,40,40,0.8);
    text-align: left;
    left: 45%;
    transform: translateX(-100%);
    padding: 20px;
    top: 0;
    margin-top: 30px;
    max-width: 500px;
}

.timelineBoxOdd::after{
    

}

.timelineTimeOdd {
    position: absolute;
    color: white;
    font-size: 1.2em;
    width: 35%;
    left: 55%;
    height: auto;
    top: 0.5em;
    padding-top: 20px;
}

.timelineTimeEven {
    position: absolute;
    color: white;
    font-size: 1.2em;
    width: 35%;
    right: 55%;
    padding-top: 20px;
    height: auto;
    top: 0.5em;
    text-align: right;
}

.timelineItem {
    position: relative;
}

.timelineBoxEven {
    position: relative;
    width: 35%;
    height: auto;
    background: rgba(40,40,40,0.8);
    text-align: left;
    left: 55%;
    padding: 20px;
    top: 0;
    margin-top: 30px;
    max-width: 500px;
}

.timelineIcon {
    position: absolute;
    left: 50%;
    top: 0.5em;
    padding-top: 0.5em;
    vertical-align: center;
    text-align: center;
    width: 2em;
    height: 2em;
    margin-left: -1em;
    background: #333;
    border-radius: 50%;
    color: white;
}

.arrowRight {
    width: 0;
    height: 0;
    border-top: 1.5em solid transparent; 
    border-bottom: 1.5em solid transparent; 
    border-left: 1.5em solid rgba(40,40,40,0.8);
    position: absolute;
    top: 1em;
    left: 45%;
}

.arrowLeft {
    width: 0;
    height: 0;
    border-top: 1.5em solid transparent; 
    border-bottom: 1.5em solid transparent; 
    border-right: 1.5em solid rgba(40,40,40,0.8);
    position: absolute;
    top: 1em;
    right: 45%;
}

.abobutMeSubtitleText {
    color: teal;
    font-size: 1.2em;
}

#aboutMeTitle {
    text-align: center;
    color: white;
}

#AboutMe {
    padding: 30px;
    background-color: #222;
    padding-bottom: 60px;
}

.logo {
    position: absolute;
    width: 5.5em;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    opacity: 0.8;
}

#aboutMeTextButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
    color: white;
}

.downCaret {
    color: white;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    left: 50%;
    transform: translateX(-10px);
    text-align: center;
}

.downCaretDiv {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    left: 50%;
    transform: translateX(-10px);
    text-align: center;
}

.resumeDiv {
    text-decoration: none;
}

.resumeDiv:hover{
    text-decoration: none;
}

.projectTitle {
    color: white;
    text-align: left;
    font-size: 2em;
    margin-bottom: 2em;
}

.projectDescription {
    position: absolute;
    color: white;
    text-align: left;
    font-size: 1em;
    bottom: 0;
}

.appImage1 {
    position: absolute;
    width: 18vw;
    left: calc(50vw - 10% - 30px - 36vw);
    top: 5em;
}

.projectDiv {
    position: relative;
    height: calc(33vw + 12em);
}

.appImage2 {
    position: absolute;
    width: 18vw;
    left: calc(50vw - 10% - 30px - 19vw);
    top: 6em;
    box-shadow: -3px -3px 15px black;
}

.appImage3 {
    position: absolute;
    width: 18vw;
    left: calc(50vw - 10% - 30px - 2vw);
    top: 7em;
    box-shadow: -3px -3px 15px black;
}

.appImage4 {
    position: absolute;
    width: 18vw;
    left: calc(50vw - 10% - 30px + 15vw);
    top: 8em;
    box-shadow: -3px -3px 15px black;
}
