.App {
  text-align: center;
}

.jumbotron {
  background-image: url("./img/blurry_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh);
}

#mainTitle {
  color: white;
  font-size: 5em;
  font-weight: bold;
}

#titleSubtext {
  color: white;
  font-size: 2em;
}

#learnMoreText {
  color: white;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  padding-bottom: 50px;
}
