.footer {
    background: #45678d;
    color: white;
    padding: 30px 5% 60px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactLink {
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
}

.contactLink:hover {
    color: #a7a7a7;
}

.contactLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}