.Header {
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerTitle {
    margin-bottom: 0;
}

.headerBody {
}

.aboutMeDiv {
    position: absolute;
    bottom: 0;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
}

.aboutMe {
}

.arrow {
    height: 3vw;
    width: 3vw;
}

.headerLink {
    text-decoration: none;
    color: white;
}

.headerLink:hover {
    color: #a7a7a7;
}