.HeaderMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
}

.logo {
    height: 6vw;
}

.headerLink {
    font-size: 2vw;
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.headerLink:hover {
    color: #a7a7a7;
}