body, html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 5vw;
  }
}