.Projects {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    background: #fbfbfb;
    padding-bottom: 30px;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    .projectTitle {
      font-size: 6vw;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .projectTitle {
      font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .projectTitle {
      font-size: 2.5vw;
    }
  }
