.Projects {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    background: #fbfbfb;
    padding-bottom: 30px;
}

.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectsTitle {
    font-size: 3vw;
}