.projectCard {
    height: auto;
    max-width: 600px;
    min-width: 200px;
    flex: 1 1 400px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 20px;
}

.projectCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cardImg {
    width: 100%;

}

.cardTitle {
    width: 100%;
    text-align: center;
}

.cardDescription {
    padding-left: 16px;
    padding-right: 16px;
}

.cardLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tool {
    display: flex;
    background: #222;
    color: white;
    margin-right: 5px;
    line-height: 0%;
    padding: 0 10px 0 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

i {
    padding: 4px 4px 0 0;
    font-size: 1.5em;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link {
    background: #45678d;
    color: white;
    margin-right: 5px;
    line-height: 0%;
    padding: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;}

.linkText {
    text-decoration: none;
    color: white;
}

.link:hover {
    background: #235792;
    color: #a7a7a7;
}

.linkText:hover {
    color: #a7a7a7;
}